@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Golos+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* General styles */
body {
  font-family: serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #F5F5F5;
  padding: 5px;
}

.jumbotron {
  padding: 30px;
  background-color: #8C94AE;
  text-align: center;
  font-size: 20px;
  color: white;
}

nav ul {
  display: flex;
  gap: 2rem;
  padding-inline-start: 0;
  justify-content: center;
}

nav a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #8C94AE;
}

nav a:hover {
  font-weight: bold;
  color: white;
}

/* Main content styles */
main {
  padding: 5px;
  overflow: auto;
  text-align: center;
}

.box {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  padding: 20px;
  margin-top: 20px;
}

.featured-image {
  max-width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

h2 {
  color: #8C94AE;
  text-align: center;
  margin-top: 0;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

footer {
  font-family: 'Quicksand', serif;
  padding: 20px;
  color: white;
  background-color: #8C94AE;
}

/* Styles for screens up to 600px */
@media screen and (max-width: 600px) {
  .jumbotron {
    font-size: 16px;
  }

  nav ul {
    flex-direction: column;
  }

  nav a {
    display: block;
  }

  main {
    padding: 10px;
  }

  .featured-image {
    max-width: 150px;
  }
}

/* Styles for screens from 601px to 1000px */
@media screen and (min-width: 601px) and (max-width: 1000px) {
  nav ul {
    justify-content: space-around;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 10px;
  }

  .featured-image {
    max-width: 180px;
  }
}


/* Apply Fonts to Elements */
body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p, a, li {
  font-family: 'Roboto', sans-serif;
}

/* Example usage */
.jumbotron {
  font-family: 'Lato', sans-serif;
}

.nav a {
  font-family: 'Quicksand', sans-serif;
}

/* Additional CSS styles for other elements */


